<<<<<<< HEAD
html{
    font-size:62.5%;
}

body{
    background-image: url(/images/wireframe-background.png);
}

#headerbar{
    height: 2.5rem;
    background: #66BBDD;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#headerbar li{
    list-style: none;
    font-size: 1rem;
    height: 2.5rem;
    float:right;
    list-style:none;
    background-color:none;
    color:white;
    line-height: 2.5rem;
    margin-right: 2rem;
}

#headerbar li a{
    color:white;
}

#headerbar a{
    top: 50%;
}
a{
    display: block;
}

h1{
    color:white;
    text-align: center;
    line-height: 12.5rem;
    font-size: 4rem;
}

#headerbar2 {
    margin-top:2.5rem;
    height: 12.5rem;
    background: #5AA2c7;
    position: relative;
}

#headerbar3 {
    height: 2.5rem;
    position: relative;
    background: #5EBAA8;
}

p{
    display:none;
    font-size:50rem;
}
    .hamburgerbar{
        display:none;
}

@media screen and (max-width: 42rem) {
    #headerbar{
        height:2rem;
    }
    #headerbar li a{
        font-size: 1rem;
        line-height: 2rem;
    }
    h1{
        font-size: 3rem;
        line-height: 11rem;
    }
        #headerbar2{
        margin-top: 0;
        height: 9rem;
    }
        #headerbar3{
        height:1.75rem;
    }
}

@media screen and (max-width:35rem) {
    #headerbar li a{
        font-size: 1rem;
        margin-left:-1rem;
    }
    h1{
        font-size: 2rem;
        line-height: 10.5rem;
    }
        #headerbar2{
        margin-top: 0;
        height: 8rem;
    }
    .hamburgerbar{
        display:none;
    }
        #headerbar3{
        height:1.5rem;
    }
    
}

@media screen and (max-width: 30rem) {
    h1{
        font-size:1.5rem;
        line-height: 2rem;
        width:8rem;
        float:right;
        position:relative;
        padding-top: 0;
    }
    #headerbar li {
        font-size:2rem;
        margin-left:.4rem;
        float:left;
        width: auto;
        display:none;
    }
    #headerbar{
        display:none;
        
    }
    #headerbar2{
        margin-top: 0;
        height: 6rem;
    }
    #headerbar3{
        height:1rem;
    }
    
    .hamburgerbar{
        display:inherit;
    }
}
    
