#headerbar {
    height: 250px;
    background: #006837;
    position: absolute;
    top: 0;
    margin-left: -10px;
    width: 100.1%;
    z-index: -1;
}

body{
    /* 
    This will place your WF on the body so that you can edit your CSS to match.

    Save the WF with a lowered opacity (25%) in Photoshop
    Apply the Hue & Saturation Adjustment layer and "colorize" it.

    */
	background-image: url(/images/background.jpg);
    background-position:0 250px;
    background-repeat: no-repeat;
    background-position:relative;
    background-size: 100% 100%;
}

#wrapper{
    /* This will lock your design to 960px and centre it */
    margin:10px auto;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.foreground img{
    top: 250px;
    position:absolute;
    width: 960px;
    height: 80%;
    opacity: 0.7;
}
.logo{
    display: inline-block;
    align-content: center;
    position: relative;
}

.title{
    display: inline-block;
    position: absolute;
    font-size: 40px;
    margin-left: 380px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;

}

h1{
    position: absolute;
    text-align: right;
    font-family: "Gill Sans MT","Myriad Pro", "Arial", "Times New Roman";
    font-size: 18px;
    top: 500px;
    margin: 0 0 0 755px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
    background-color: #8BC53F;
    padding: 3px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;

}

h2{
    position: absolute;
    font-family: "Gill Sans MT","Myriad Pro", "Arial", "Times New Roman";
    font-size: 18px;
    top: 547px;
    margin: 0 0 0 18px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
    color: white;
    text-transform: uppercase;

}

h3{
    position: absolute;
    font-family: "Gill Sans MT","Myriad Pro", "Arial", "Times New Roman";
    font-size: 18px;
    top: 762px;
    margin: 0 0 0 18px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
    color: white;
    text-transform: uppercase;

}

.search{
    margin: -37px 0 0 822.5px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
}

ul{
    list-style-type: none;
}

.food img{
    border-radius: 5px;
    margin: 101px 0 0 4px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
}

.daily img{
    border-radius: 5px;
    margin: 101px 0 0 652.8px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
}

.smallfood img{
    margin: 580px 0 0 656px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
    border-radius: 5px;
}

.smallfood2 img{
    margin: 580px 0 0 819.2px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
    border-radius: 5px;
}

nav[role="main"] ul li{
    height: 35px;
    width: 142px;
    line-height: 35px;
    position: relative;
    text-align: center;
    font-family: "Gill Sans MT","Myriad Pro", "Arial", "Times New Roman";
    text-transform: uppercase;
    font-size: 18px;
    float:left;
    margin: 4px 3px 0px 3px;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    background-color: #8BC53F;
}

a{
    display:block;
}


nav[role="main"] ul li:hover{
    background-color: #00A551;
    border-radius: 25px;
    transition: ease-in 0.3s;
    
}

nav[role="main"] ul li:active{
    background-color: darkgreen;
    transition: none;
}

li a{
    color: white;
    list-style: none;
    text-decoration: none;
    
}

.block img{
    border-radius: 25px;
    margin: 375.5px 0 0 10px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
}

.filler img{
    position: absolute;
    margin: 365px 0 0 4px;
    border-radius: 10px;
    opacity: 0.25;
}

.filler2 img{
    position: absolute;
    margin: 580px 0 0 4px;
    border-radius: 10px;
    opacity: 0.25;
}

p{
    float: left;
    position: relative;
    text-align: left;
    font-family: "Gill Sans MT", "Myriad Pro", "Arial", "Times New Roman";
    font-size: 15px;
    display: inline-block;
    margin-top: 356px;
    margin-left: 10px;
    width: 615px;
}

.block2 img{
    border-radius: 25px;
    margin: 590.5px 0 0 10px;
    padding: 0 0 0 0;
    float:inherit;
    position: absolute;
}

.divider{
    margin: -34px 0 0 891px;
    position: absolute;
}

p2{
    float: left;
    position: relative;
    text-align: left;
    font-family: "Gill Sans MT", "Myriad Pro", "Arial", "Times New Roman";
    font-size: 15px;
    display: inline-block;
    margin-top: 56.5px;
    margin-left: 10px;
    width: 615px;
}

nav[role="sub"] ul li{
    display: inline-block;
    height: 44.5px;
    width: 303px;
    line-height: 44.5px;
    position: relative;
    text-align: center;
    font-family: "Gill Sans MT", "Myriad Pro", "Arial", "Times New Roman";
    text-transform: uppercase;
    font-size: 18px;
    float:inherit;
    text-decoration: none;
    list-style: none; 
    border-radius: 5px;
    background-color: #8BC53F;
    top: 340px;
    left: 30px;
    margin: 0 0 6.5px 0;
}

nav[role="sub"] ul li:hover{
    background-color: #00A551;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

nav[role="sub"] ul li:active{
    background-color: darkgreen;
    transition: none;
}

nav[role="sub"] li a{
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 44.2px
    
}

nav[role="top"] ul li a{
    display: inline-block;
    float:left;
   position: relative;
    text-align: right;
    font-family: "Gill Sans MT", "Myriad Pro", "Arial", "Times New Roman";
    font-size: 12px;
    word-spacing: 10px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
    width:30px;
    top: -596.5px;
    left: 234px;
    color: #00A551;
}

nav[role="top"] ul li a:hover{
    color: #8BC53F;
    transition: ease-in 0.15s;
}

nav[role="top"] li a{
    list-style: none;
    text-decoration: none;
}

nav[role="bottom"] ul li{
    position: relative;
    display: inline-block;
    height: 17px;
    width: 100%;
    text-align: center;
    font-family: "Gill Sans MT", "Myriad Pro", "Arial", "Times New Roman";
    text-transform: uppercase;
    font-size: 9.27px;
    margin-right: 2px;
    border-radius: 5px;
    background-color: #8BC53F;
}

nav[role="bottom"] ul li:hover{
    background-color: #00A551;
    border-radius: 25px;
    transition: ease-in 0.2s;
}

nav[role="bottom"] ul li:active{
    background-color: darkgreen;
    transition: none;
}

nav[role="bottom"] li a{
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 18px;
}

nav[role="bottom"] li{
    white-space: nowrap;
}

nav[role="bottom"] ul li{
    top:608px;
    width: 93.5px;
    left: -292px;
} /* to assist in relative position */

#wrapper{
    
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    width: 960px;

}